@import url("https://https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: auto;
    background-color: #f0f0f0;
  }

  .container{
        background: white;
        height: 600px;
        border: 1px solid;
        border-color: white;
        border-radius: 25px;
        padding: 10px;
        margin-top: 70px;
        width: 100%;
  }
.signup-content {
    text-align : center;
    display: inline-block;
    background-color: white;
    padding: 2px;
}
.signup-image {
    vertical-align: top;
    float: right;
    margin-top: 5rem;
}

.signup-form {
    color: black;
    vertical-align: top;
    float: left;
    background-color: white;
    width: 400px;
}

.form-group {
    vertical-align: top;
    padding: 1rem;
}

.signup {
    background-color: white;
    height: 50vh;
    width: 100vh;
}

.radio-buttons {
    font-size: medium;
    float: left;
}

.form-title{
    font-weight: 800;
    background-color: white;
}
.signup-image {
    background-color: white;
}
.signup-image a{
    background-color: white;
    color: black;
    text-align: center;
}

input[type=email], input[type=password]{
    width: 80%;
    padding: 8px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    background-color: white;
    border-width: thin;
 }
label {
    text-align: right;
    float:left;
    margin-right:1px;
    background-color: white;
}
label i{
    background-color: white;
}
