@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.pcard {
    width: 325px;
    height: fit-content;
    border-style: solid;
    border-width: 0.2px;
    border-color: #504f4f;
    box-shadow: 2px 5px 2px 5px #d1d1d1;
}
.pcardh {
    background-color: rgb(37, 0, 139);
    border-width: 0.2px;
    border-color: #000000;
    border-radius: 1rem;
    height: 200px;
}
.pcardh h3 {
    margin-left: 20%;
}
.pcardh img {
    margin-left: 95px;
    margin-top: 30px;
    background-color: rgb(37, 0, 139);
}
.pcardh p {
    margin-top: 15px;
    background-color: rgb(37, 0, 139);
    color: rgb(219, 216, 216);
}
.pcardh p i {
    margin-left: 20%;
    background-color: rgb(37, 0, 139);
    color: rgb(219, 216, 216);
    font-size: small;
}
.pcardb {
    background-color: rgb(224, 221, 255);
    padding: 1rem;
}
.pcardb p {
    background-color: rgb(224, 221, 255);
}
.pcardb p b {
    background-color: rgb(224, 221, 255);
}
.pcardb p i {
    background-color: rgb(224, 221, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
.pcardb input {
    background-color:  rgb(255, 255, 255);
    border-width: 0.2px;
    border-color: #ede9ff;
    padding: 2px;
    border-radius: 0.5rem;
}
.pcardb button {
    background-color: rgb(80, 97, 247);
    color: rgb(255, 255, 255);
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 10px;
    border-radius: 1.5rem;
    margin-left: 25%;
    margin-bottom: 20px;
}
